#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

%:
	dh $@

execute_before_dh_auto_install:
	groff -Tpdf -man -rcR=0 latexmk.1 > latexmk.pdf
	#ps2pdf latexmk.ps latexmk.pdf
	groff -Tascii -man -rcR=0 -P -cbuo latexmk.1 > latexmk.txt

override_dh_install:
	dh_install
	install -m755 $(CURDIR)/latexmk.pl    $(CURDIR)/debian/latexmk/usr/bin/latexmk

override_dh_compress:
	dh_compress -X.pdf

override_dh_installchangelogs:
	dh_installchangelogs CHANGES
